html, body {
    background-color: lightblue;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
}

body {
    nav {
        ul {
            list-style-type: none;
            padding: 0;
        }

        li {
            display: inline;
            margin-right: 15px;
        }

        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;

            &:hover {
                color: #0066cc;
            }
        }
    }
}

.about-me {
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    img {
        width: 80%;
    }
    p {
        font-size: 1.4em;
    }
}

.error {
    text-align: center;
}