<%- include('../partials/header') %>
<main>
    <h1>Faculty List</h1>
    <p>Here you can find the list of our lovely faculty. Click on any member to see more information about them.</p>

</main>
<%- include('../partials/footer') %>