<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <!-- Put your page-specific content here -->
    <div class="about-me">
        <img src="/images/emma.jpg" alt="solo shot of emma in a field">
        <div class="about-me-text">
            <h2>Emma Bloomfield</h2>
            <p>I am currently a junior in the software engineering program at BYU-Idaho. </p>
        </div>
    </div>
</main>
<%- include('partials/footer') %>