<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <!-- Put your page-specific content here -->
    <img src="/images/emma.jpg" alt="solo shot of emma in a field">
</main>
<%- include('partials/footer') %>