<%- include('partials/header') %>
<main>
    <h1><%= title %></h1>
    <!-- Put your page-specific content here -->
    <div class="about-me">
        <img src="/images/emma.jpg" alt="solo shot of emma in a field">
        <div class="about-me-text">
            <h2>Emma Bloomfield</h2>
            <p>I am currently a junior in the software engineering program at BYU-Idaho. I am orginally from Colorado, although my family lives in Utah now. I am the youngest of 4 kids. With that, I am the aunt to 4 adorable nieces!</p>
            <p>I love spending time in nature, spending time with friends and family, traveling, and music! My favorite place that I have been able to travel is Japan, and I hope to go to even more places in the future. I also love to country dance, take long drives, and go to concerts.</p>
            <p>I am excited to further my career as I hope to graduate in April of 2027, and emerge into the software engineering field following that. I am excited to learn more about web development and how I can continue to cultivate my skills.</p>
        </div>
    </div>
</main>
<%- include('partials/footer') %>